body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333; /* Darker background */
    text-align: center;
    color: #fff; /* Light text for better readability on dark background */
}

#countdown h1 {
    font-size: 4em;
    margin: 0;
}

a {
    color: #55aaff; /* Bright link color */
    text-decoration: none;
    font-size: 1.2em;
}
a:hover {
    text-decoration: underline;
}
